<% include ../partials/header %>
  
<div class="container">
<header class="jumbotron">
    <div class="container text-center">
        <h1>SongBird</h1>
        <p>Personally curated music review and discovery.</p>
        <p>
        <a class="btn btn-primary btn-lg" href="/posts/new">Submit New Post</a> 
        </p>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap:wrap;">
    
<% post.forEach(function(post){ %>
    
    <div class="col-md-3 col-sm-6"
    <% if(post.status == false){ %>
    style="border:3px solid red"
    <% } %>
    > 
    <% if(post.status == false){ %>
    <h4>*POST IS PENDING APROVAL*</h4>
    <% } %>
     <div class="thumbnail">
     <img src="<%=post.image %>">
     <div class="caption">
         <h4><%= post.title %></h4>
         <h5><%= post.artist %></h5>
     </div>
     <p>
         <a href="/posts/<%= post._id %>" class="btn btn-primary">More Info</a>
     </p>
    </div>
    </div>
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>