<% include ../partials/header %>
<div class="container text-center">
    <div class="panel panel-info">
    <div class="row">

            <h1 style="padding-bottom:20px;">Create a New Post</h1>

        
        <div style='width:60%; margin:0 auto;'>
            <form action="/posts" method="POST">
                <!--Title --> 
                <div class='form-group'>
                    <input class="form-control" type="text" name="title" placeholder="Song or Album">
                </div>
                <!--Artist --> 
                <div class='form-group'>
                    <input class="form-control" type="text" name="artist" placeholder="Artist">
                </div>
                <!--Album Art --> 
                <div class='form-group'>
                    <input class="form-control" type="text" name="image"  placeholder="Image URL">
                </div>
                <!--Tags --> 
                <div class='form-group'>
                    <input class="form-control" type="text" name="tags"  placeholder="Tags (seperate by comma)">
                </div>
                
                <!--Description --> 
            
                <div class="form-group textarea-wrapper">
                    <label for="comment">Description:</label>
                         <textarea style="resize:none;" class="form-control" rows="5" id="description" name="description"></textarea>
                </div>
                
                <!--Embed --> 
                <!--<div class='form-group textarea-wrapper'>-->
                <!--    <label for="Embed">Embed Player:</label>-->
                <!--    <textarea class="form-control" type="text" name="embed"></textarea>-->
                <!--</div>-->
              
                
                <!--Submit --> 
                <div class='form-group'>
                  <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
        </div>

<a href="/posts">Go Back</a>
    </div>
</div>
</div>
<% include ../partials/footer %>